@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.dog-container {
  align-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200vh;
  justify-items: center;
}

.card-container {
  border: 2vh solid whitesmoke;
  border-bottom: 6vh solid whitesmoke;
  box-shadow: 1px 1px 5px rgb(184, 170, 149);
  transition: 1.5s;
  background-color: whitesmoke;
}

.dog-img {
  border-bottom: 3vh solid whitesmoke;
  height: 35vh;
  width: 20vw;
}

.card-container:hover {
  transform: scale(1.1);
}

.dog-name {
  background-image: url('../images/washi-tape2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 4vh;
  text-align: center;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-p {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
