@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
/* background-color: #ce796b; */


.header-container {
  align-items: center;
  background-image: url('../images/header.png');
  display: flex;
  height: 13vh;
  justify-content: space-around;
  width: 100%;
}

.page-title {
  color: #b8c44a;
  font-family: 'Coming Soon', cursive;
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.5px;
}

.about-button, .donation-button, .share-button, .login-button {
  background-color: #d5d887;
  border-radius: 6%;
  border-style: none;
  box-shadow: 2px 2px 2px black;
  font-family: 'Coming Soon', cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 0.6vh;
  transition: 0.5s;
}

.about-button:hover, .donation-button:hover, .share-button:hover, .login-button:hover {
  background-color: #bec17b;
  cursor: pointer;
}