@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

.header-container {
  align-items: center;
  background-image: url('../images/header.png');
  /* display: flex; */
  font-size: 1em;
  height: 13vh;
  max-height: 5%;
  /* justify-content: space-around; */
  width: 100%;
}

.page-title {
  color: #b8c44a;
  font-family: 'Coming Soon', cursive;
  font-size: 4em;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.5px;
}

:link {
  background-color: #d5d887;
  border-radius: 6%;
  border-style: none;
  box-shadow: 2px 2px 2px black;
  color: black;
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.6vh;
  text-decoration: none;
  transition: 0.5s;
}

:link:hover {
  background-color: #bec17b;
  cursor: pointer;
}
