@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.pet-container {
  align-content: space-around;
  align-items: center;
  display: grid;
  font-size: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200vh;
  justify-items: center;
}

.pet-img {
  border-bottom: 3vh solid whitesmoke;
  height: 45vh;
  max-height: 80%;
  max-width: 100%;
  width: 20vw; 
}

.card-container {
  width: 60%;
  height: 80%;
  perspective: 60vw;
}

.flipper {
  border: 2vh solid whitesmoke;
  /* border-bottom: 5vh solid whitesmoke; */
  box-shadow: 1px 1px 5px #b6b79b;
  background-color: whitesmoke;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.front,.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-clicked {
  transform: translateX(-100%) rotateY(-180deg);
}

.back {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotateY(180deg);
}

.pet-name {
  background-image: url('../images/washi-tape2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 12%;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
}

.back-title {
  font-family: 'Coming Soon', cursive;
  font-size: 1em;
  text-align: center;
}

.back-p {
  font-family: 'Coming Soon', cursive;
  font-size: 1em;
  line-height: 4vh;
  text-align: center;
}

.back-img {
  height: 16vh;
  width: 10vw;
}
